<ion-header>
  <ion-navbar color="corPrimaria">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="mostrarGrafico">
    <canvas baseChart 
      [data]="doughnutData"
      [labels]="doughnutCategorias"
      [options]="doughnutOptions"
      chartType="doughnut"></canvas>
  </ion-card>
  <ion-card *ngIf="mostrarGrafico">
      <canvas baseChart
        height="200px"
        [datasets]="barChartData"
        [labels]="barChartLabels"
        [options]="barOptions"
        chartType="bar"></canvas>
    </ion-card>
</ion-content>
